<% provide(:title, "Game test") %>

<h1>This page is for game testing only</h1>
<center>
	<div id="contenedor">
	</div>
</center>

<script type="text/javascript">
	$(document).ready(initGameModule());
</script>