/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 .alert {
 	font-size: 14px;
 	font-weight: bold;
 	margin-top: 20px;
 	padding: 10px !!important;
 }

.alert-notice{
	background: white;
	color: green;
}
.alert-error{
	background: white;
	color: red;
}

.field_with_errors {
	color: #226;
}